[submodule "luau/evaera-matter"]
	path = luau/evaera-matter
	url = https://github.com/evaera/matter
[submodule "luau/osyrisrblx-t"]
	path = luau/osyrisrblx-t
	url = https://github.com/osyrisrblx/t
[submodule "luau/howmanysmall-Janitor"]
	path = luau/howmanysmall-Janitor
	url = https://github.com/howmanysmall/Janitor
[submodule "luau/MadStudioRoblox-ReplicaService"]
	path = luau/MadStudioRoblox-ReplicaService
	url = https://github.com/MadStudioRoblox/ReplicaService
[submodule "luau/evaera-roblox-lua-promise"]
	path = luau/evaera-roblox-lua-promise
	url = https://github.com/evaera/roblox-lua-promise
[submodule "luau/Roblox-roact"]
	path = luau/Roblox-roact
	url = https://github.com/Roblox/roact
[submodule "luau/Quenty-NevermoreEngine"]
	path = luau/Quenty-NevermoreEngine
	url = https://github.com/Quenty/NevermoreEngine
[submodule "luau/Roblox-rodux"]
	path = luau/Roblox-rodux
	url = https://github.com/Roblox/rodux
[submodule "luau/Sleitnick-Knit"]
	path = luau/Sleitnick-Knit
	url = https://github.com/Sleitnick/Knit
[submodule "luau/Elttob-Fusion"]
	path = luau/Elttob-Fusion
	url = https://github.com/Elttob/Fusion
[submodule "glua/Facepunch-garrysmod"]
	path = glua/Facepunch-garrysmod
	url = https://github.com/Facepunch/garrysmod
[submodule "glua/SneakySquid-Circles"]
	path = glua/SneakySquid-Circles
	url = https://github.com/SneakySquid/Circles
[submodule "glua/TeamUlysses-ulx"]
	path = glua/TeamUlysses-ulx
	url = https://github.com/TeamUlysses/ulx
[submodule "glua/TeamUlysses-ulib"]
	path = glua/TeamUlysses-ulib
	url = https://github.com/TeamUlysses/ulib
[submodule "glua/FPtje-DarkRP"]
	path = glua/FPtje-DarkRP
	url = https://github.com/FPtje/DarkRP
[submodule "glua/NebulousCloud-helix"]
	path = glua/NebulousCloud-helix
	url = https://github.com/NebulousCloud/helix
[submodule "glua/CapsAdmin-pac3"]
	path = glua/CapsAdmin-pac3
	url = https://github.com/CapsAdmin/pac3
[submodule "glua/wiremod-wire"]
	path = glua/wiremod-wire
	url = https://github.com/wiremod/wire
[submodule "glua/wiremod-advdupe2"]
	path = glua/wiremod-advdupe2
	url = https://github.com/wiremod/advdupe2
[submodule "glua/wyozi-gmod-imgui"]
	path = glua/wyozi-gmod-imgui
	url = https://github.com/wyozi-gmod/imgui
